<!DOCTYPE html>
<html>
<head>

	<title>MTAStat.us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#333333"/>
</head>
<body>
	<center>
		<div class="header">
			<h1>MTA STATUS</h1>
			<h2>Subway, at a glance.</h2>
		</div>
		<div class="container">
			<% @final_hash.each do |train,status,text| %>
				<div class="trainname">
				<a href=<%= train %>>
					<div class="letter" id="<%= train.downcase %>"><%= train %></div>
					<div class="smallstatus"><%= status %></div>
				</a>
				</div>
				<% if text %>
					<div class="longstatus"><%= text %></div>
				<% end %>
			<% end %>
		</div>
	</center>
	<div class="bg"></div>
	<div class="screen"></div>
</body>
</html>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="script.js"></script>